@font-face {
    font-display: swap;
    font-family: "Raleway";
    /* Шрифт Raleway */
    font-style: normal;
    /* стиль шрифта */
    font-weight: 500;
    /* Жирность шрифта */
    src: url(./../fonts/Raleway-Regular.ttf) format("truetype");
    /* Путь до шрифта в папке сайта */
}

/* СТАНДАРТНЫЕ НАСТРОЙКИ */
html {
    box-sizing: border-box;
    /* Размер элемента: включая отступы */
}

* {
    font-family: 'Raleway';
    /* Шрифт Raleway */
    margin: 0;
    /*Отступы внешние*/
    padding: 0;
    /*Отступы внутренние*/
    font-weight: 400;
    /*Жирность шрифта*/
    box-sizing: inherit;
    /* Размер элемента: стандартный */
    appearance: none;
    /* ОТКЛЮЧЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ БРАУЗЕРА */
    outline: none;
    /* ОТКЛЮЧЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ БРАУЗЕРА */
}

body {
    margin: 0 auto;
    /*Отступы внешние сверху 0 по краям одинаковые автоматические*/
    max-width: 1920px;
    /* Максимальная ширина окна*/
    overflow: auto;
    /*При переполнении скролить*/
    width: auto;
    /*Ширина автоматическая*/
    position: relative;
    /*Позиция - относительная*/
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}

/* СТАНДАРТНЫЕ НАСТРОЙКИ */

/* НАСТРОЙКИ ШАПКИ */
#header {
    background: #E1EDE6;
    position: relative;
    /*Позиция - относительная*/
}

#header .header-container {
    display: flex;
    /* Стиль отображения - flex */
    align-items: center;
    /* Выровнять по гор-ли */
    justify-content: space-between;
    /* Выровнять по вертикали */
    padding-top: 32px;
    /* Отступ сверху */
    padding-bottom: 32px;
    /* Отступ снизу*/
}

#header .header-container .menu {
    display: flex;
    /* Стиль отображения - flex */
    align-items: center;
    /* Выровнять по гор-ли */
    gap: 30px;
    /* Отступы между элементами 30px */
}

#header .header-container .menu a {
    text-decoration: none;
    /* Убрать нижние подчеркивание */
    font-size: 20px;
    /* Размер шрифта 20px */
}

/* НАСТРОЙКИ ШАПКИ */


/* СТИЛИ ДЛЯ БАННЕРА */
#mainbanner {
    position: relative;
    width: 100%;
    background-image: url(../images/banner/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainbanner .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mainbanner .mainbanner-wrapper {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    z-index: 2;
    position: relative;
}

#mainbanner .right-side .mainbanner-title {
    color: #6B6B8A;
    font-family: "Raleway";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
}

#mainbanner .right-side .mainbanner-subtitle {
    color: #86928B;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 54px;
    /* 30px */
}

#mainbanner .easterEgg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mainbanner .easterEgg.hidden {
    display: none;
}

#mainbanner .left-side img {
    width: 100%;
    max-width: 400px;
}

#mainbanner .right-side .btn {
    color: #6B6B8A;
    border: 1px solid #6B6B8A;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

#mainbanner .btn-right,
#mainbanner .btn-left {
    cursor: pointer;
    transition: all 0.5s linear;
    position: relative;
    margin: 0;
    left: unset;
    right: unset;
}
div.swiper-button-next:after, 
div.swiper-button-prev:after{
    content: none;
}
#mainbanner .btn-right.anime,
#mainbanner .btn-left.anime {
    transform: rotate(90deg);
}

#mainbanner .btn-right:hover svg circle {
    fill: red;
}

#mainbanner .btn-left:hover svg circle {
    fill: red;
}

#mainbanner .right-side .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 24px;
    margin-left: auto;
}

@media (max-width:700px) {
    #mainbanner .mainbanner-wrapper {
        grid-template-columns: 1fr;
        height: fit-content;
        padding: 60px 0px;
    }
}

@media (max-width:500px) {
    #header .header-container {
        flex-direction: column;
        gap: 15px;
    }
}
#header .header-container .menu a {
    color:  #2C2D35;
    
}
@media (max-width:350px){
    .seo__head {
        display: flex;
        gap: 20px;
        flex-direction: column;}
} 

.products-block__wrapper {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.products-block__wrapper.active {
    display: grid;
}

.products-block__card {
    height: 730px;
    background: #E1EDE6;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card__container {
    display: flex;
    flex-direction: column;
}

.card__img {
    height: 422px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.card__subtitle {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.card__title {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

.card__description {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

.card__price {
    color: #6B6B8A;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.card__button {
    display: flex;
    width: 310px;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #6B6B8A;
}

.products-block__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
}

.products-block {
    margin: 70px 0;
}

.products-block__tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.products-block__tab {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.products-block__tab.active {
    color: #F4F6F5;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 20px;
    background: #6B6B8A;
}

.products-block__tab {
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
    border-radius: 20px;
    background: #D7D7D7;
}

.seo {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: cover;
    background-image: url('../images/Rectangle.png');
}

.seo__title {
    width: 421px;
    color: #F4F6F5;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 40px */
    margin-bottom: 20px;
}

.seo__text {
    width: 540px;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 60px;
    /* 27px */
}


.seo__button {
    display: inline-flex;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    background: #6B6B8A;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.seo__head {
    display: flex;
    gap: 20px;
}

.seo::after {
    content: '';
    background: linear-gradient(90deg, rgba(16, 50, 78, 1) 0%, rgba(0, 212, 255, 0) 100%);
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;

}

.seo__content {
    position: relative;
    z-index: 3;
}

.products-block__title {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    /* 44px */
}

.contacts-block__title {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
    /* 44px */
}

.contacts-block__desc {
    max-width: 635px;
    width: 100%;
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
    display: flex;
    margin-bottom: 20px;


}

.footer__name {
    color: #6B6B8A;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.contacts-block__wrapper {
    display: inline-flex;
    padding: 79px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
@media (max-width:700px) {
    .contacts-block__wrapper {
        flex-direction: column;
    }
}
.icon-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 30px;

}

.footer__phone {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__phone-name {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__name2 {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__title {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.footer__title1 {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.footer__title2 {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.footer {
    width: 100%;
    flex-shrink: 0;
    background: #E1EDE6;
}

.footer__xzx {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__maker {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.footer__hepers {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.footer__Name {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    width: 132px;
    height: 14px;
    color: #86928B;

}

.footer__copiright {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    width: 132px;
    height: 14px;
    color: #86928B;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.footer__name {
    width: 192px;
    height: 35px;
    gap: 8px;

}
.footer__cat{
    width:  98px;
height:  122px;
gap: 6px;

}
@media (max-width:1200px) {
    .products-block__wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:500px) {
    .products-block__wrapper{
        grid-template-columns: 1fr ;
    }
}
.card__img {
    width: 100%;
    height: 422px;
    flex-shrink: 0;
    margin-bottom: 20px;
    object-fit: cover;
}
.card__button {
    display: flex;
    width: 100%;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #6B6B8A;
}
.products-block__card {
    width: 100%;
    height: 100%;
    background: #E1EDE6;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.products-block__tabs {
    display: flex;
    flex-wrap: wrap;
}
#mainbanner .left-side img {
  
    display: flex;
    flex-wrap: wrap;
}
.products-block__title {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    line-height: 110%;
    flex-wrap: wrap;
}
.products-block__header{
    flex-direction: column;
}
.seo__text {
    max-width: 540px;
    width: 100%;
}
.seo__title {
    width: 100%;
}
.contacts-block__img{
    width: 100%;
    object-fit: cover;
}
.contacts-block__left{
    width: 100%;
    max-width: 445px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#mainbanner .btn-left {
    cursor: pointer;
    transition: all 0.5s linear;
    position: relative;
    margin: 0;
    left: unset;
    right: unset;
}
.burger__img{
    width: 60px;
    height: 60px;
}
.mobile-menu{
    width: 100%;
    height: 100vh;
    max-width: 320px;
    background: #E1EDE6;
    border: 1px solid;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999999999;
display: flex;
flex-direction: column;
padding: 15px; 
gap: 10px;    

transition: all 0.5s ease-in-out;
transform: translateX(-100%);
}
.cross {
    width: 40px;
    position: absolute;
    right: 0;
}
.logo{
    width: 200px;
}
.gira{
    display: flex;
    flex-direction: column;
}
.contact{
    width: 40px;
    height: 40px;
}
.mobile-menu.active{
    transform: none;
}
.burger{
    transition: all 0.5s ease-in-out;
}
.burger.active{
    background: #86928B;
}
.cart_img{
    width: 60px;
    height: 60px;
}
.casse{
    width: 100%;
    height: 100vh;
    max-width: 320px;
    background: #E1EDE6;
    border: 1px solid;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999999999999999;
display: flex;
flex-direction: column;
padding: 15px; 
gap: 10px;    


}